{% extends "base.html" %}
{% load staticfiles %}
{% block head_extra %}
<title>Welcome | Croma</title>
{% endblock %}
{% block style %}
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<style type="text/css">

.table-container {
    height: 15em;
}
table {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
		font-size: 13.5px;
}
table thead {
    flex: 0 0 auto;
    width: calc(100% - 0.9em);
}
table tbody {
    flex: 1 1 auto;
    display: block;
    overflow-y: scroll;
}
table tbody tr {
    width: 100%;
}
table thead, table tbody tr {
    display: table;
    table-layout: fixed;
}
.list-group-item{
	font-size: 12.5px;
	font-weight: none;
}
</style>
{% endblock %}

{% block content %}
{% include "home/navbar.html" %}
<div class = "container">
	<div class = "col-md-10 col-md-offset-2">
		<h1 style="font-weight: bold;">{{current_session.registration_id.company_name}}</h1><br>
			<h4 style="margin-left: 7%;">
                {{current_session.registration_id.address1}}
                {{current_session.registration_id.address2}}
                {% if current_session.registration_id.address3 %}
                    {{current_session.registration_id.address3}}
                {% endif %} 
                {{current_session.registration_id.city}}, {{current_session.registration_id.state}} 
                {{current_session.registration_id.pin}}
            </h4><br>
			<div class = "row">
				<div class = "col-md-6">
					<h4>Gst No.: {{current_session.registration_id.gst_no}}</h4>
				</div>
				<div class = "col-md-6">
					<h4>Conatct No.: {{current_session.registration_id.phone1}}</h4>
				</div>
			</div><br >
			<img style = "margin-left:20%; " src = "{% static '/images/Ganesh_laxmi.jpg' %}">
	</div>
</div>

{% endblock %}

{% block script %}
<script type="text/javascript">
  $(".home").addClass("active");
    LoadAutoCompleteItemData();
     $(document).unbind("keyup").keyup(function (e) {
         if (e.which == 118) {
             $("#search_item_modal").modal("toggle");
         }
     });
</script>
{% endblock %}
